@using AutoRentRevive.Web.Services

@inject NavigationManager Navigation
@inherits LayoutComponentBase

<PageTitle>AutoRentRevive.Web</PageTitle>

<div class="page">

    @if (!(Navigation.ToBaseRelativePath(Navigation.Uri).Equals("home", StringComparison.OrdinalIgnoreCase) || Navigation.ToBaseRelativePath(Navigation.Uri).Equals("Login", StringComparison.OrdinalIgnoreCase)))
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private UserInerfaceServiceKeys keys = new UserInerfaceServiceKeys();
}
